spring:
  datasource:
    url: jdbc:h2:mem:daytrader;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
  flyway:
    enabled: false
  h2:
    console:
      enabled: true
      path: /h2-console
  thymeleaf:
    cache: false

trade:
  max-users: 100
  max-quotes: 100
